 /*Controle la grandeur que le container prendra et set l'image de background qui pourra être remplacé*/
.acceuilBanner {
    display:none;
    background-repeat: no-repeat;
    background-image: url('../Images/milky-way-1030765_1920.jpg');
    background-position-x: center;
    height: 70vh;
    background-color:black;
    background-position-y:center;
}


.acceuilTitle {
    /*Pour la création du shadow box autour du titre SEMAINE SCIENCES HUMAINES*/
    /*Pour choisir le type de positionnement pour l'élément
        Absolute = positionnement relatif à son parent 
    */
    position: absolute;
    top: 282px;
    /* centre l'élément a 50% du côté gauche*/
    left: 50%;
    /*le webkit est présent pour supporter les browser qui sont plus vieux (sertitude que l'élément sera centré)*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);    
    font-size: 38px;
    /*Cré de l'espace avec les autres éléments, similaire à margin */
    padding: 30px;
    /*rgba nous donne la possibilité d'entré une 4 ieme variable afin de cré une transparence*/
    background-color: rgba(128, 128, 128, 0.8);
    text-align:center;
}
.container-box {
    /*Utile pour la création d'un shadow*/
    border-top: black solid 5px;
    padding: 1px;
    /*afin d'avoir une espace avec le container de banner*/
    margin-top: 10px;
}

/*Petite modification pour la liste ul pour faire le menu latéral*/
.container-box ul{list-style-type:none;padding:0;}
.container-box ul li{padding:5px;}

.container-box ul li a {
    color: black;
    text-decoration: none;
    padding: 5px;
    padding-left: 20px;
}

.container-box ul li a:hover{border-left:deepskyblue solid 5px;cursor:pointer;}
.Main-acceuil{margin-bottom:40px;}

/*Création d'une petite séparation avec le haut pour le titre h1*/
.Main-acceuil .h1{margin-top:40px;font-family: 'Adamina' !important;}

.sticky{
    position:sticky;
    top:0;
}

/*Carousel*/
.bouton-control-slider .material-icons {
    background-color: #6cc4f3;
    width: 50px;
    height: 50px;
    margin: auto;
    font-size: 50px !important;
    vertical-align: middle;
    border-radius:15px;
}
.img-box {
    position: relative;
    float: left;
    width: 330px;
    margin: 0 40px 0 0;
}
