.activity-card {
    min-width: 470px;
    max-width: 600px;
    height: 200px;
    margin-bottom: 18px !important;
}
.activity-card img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
}
.search-activity input {
    text-align: center;
    border-radius: 500px !important;
    width: 115px ;
}
.image-box .btn{
    border-radius:500px;
}
    .activity-btn-inscription {
        background-color: rgb(4, 123, 93);
    }
    .activity-btn-voir {
        color:black;
        background-color: rgb(101,147,245);
        text-decoration:none;
        margin-left:10px;
    }

.search-activity button {
    margin: 4px;
}
.search-activity button:active {
}
.search-activity button:focus {
    box-shadow: none !important;
}

.search-activity .jour-active {
    background-color: rgb(4, 123, 93);
}

.search-activity .tag-active{
    background-color:darkorange;
}
.search-activity .choix-tag{
    border-radius:500px;
}
.search-activity .effacer-tag {
    border-radius: 500px;
    height:39px;
    font-size:25px;
    padding:0 !important;
    background-color: ghostwhite;
}
.search-activity {
    text-align:center;
}


.text-search{
    text-align:right;
}

.info-display{
    margin-top: 3px;
    padding: 1% 10%;
}

input.tag-active {
    background-color: rgba(0, 100, 0, .9);
}

div.info-panel {
    padding: 1% 4%;
    border-top: 1px solid rgb(50, 0, 100);
    font-family: 'Adamina';
}

div.info-panel img{
    max-width: 100%;
    float: left;
    max-height: 64px;
}

div.info-panel p{
    text-align:right;
}
