.gallery_item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.gallery_item:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all 300ms ease;
}

.gallery_item img {
    width: 100%;
}

.btn.choix-filter-annee.active {
    background-color: rgb(245, 134, 134);
}
.btn.choix-filter-annee.active:focus {
    box-shadow:none !important;
}