body{
}

.top-indicator {
    padding-top: .2rem;
    padding-right: 1rem;
    text-align: right;
    background-color: #094569;
    height: 30px;
}

.top-indicator a:hover{
    text-decoration:none;
}

.top-indicator .lbLogin {color:black;}
.top-indicator i {margin-right: 10px;}
.top-indicator i:hover{color: navy;}
.top-indicator .lbLogin:hover{color:navy; cursor:pointer;}

.banner-image {
    width: 120%;
    height: 100px;
    overflow: hidden;
}

.banner-image img {
    float: left;
    height: 100px;
    width: 100px;
    filter: grayscale(100%);
}

.Main {
    margin: auto;
    max-width: 1180px;
    padding-top: 20px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    clear: both;
}

.Main .top-right {padding-left:35px;float: left;}

.Main .top-left .h2 {font-size: 3vw !important;}

.Main .event-media{
    float:right;
    width:100%;
    margin-right:0;
    max-height:500px;
    overflow:hidden;
}

.Main .event-media img{width:100%;transform: translateY(-10%)}

.Main .event-media .Banner-title {
    position: absolute;
    bottom: 100px;
    font-size: 1.75rem !important;
    /* pour le box */
    background-color: #8888;
    color: white;
    padding: 10px 13px;
}

.Main .top-right .box-btn-inscription {text-align:center;}
.Main .top-right .btnSincrire {
    text-align:center;
    width: 208px;
    height:42px;
    font-size:17px;
    vertical-align:middle;
    padding:0 !important;
    border-radius:200px;
}

.Main .bot-left {
    height: 50vw;
    max-height: 400px;
    min-height: 360px;
    min-width: 180px;
    float: left;
    width: 30%;
}

.Main .bot-right {
    height: 50vw;
    max-height: 400px;
    min-width: 420px;
    min-height: 360px;
    float: left;
    width: 70%;
}
    
.Main .Main-Share{padding-top:30px;}

.Main .Share-box{
    border-right: 3px solid rgb(128, 128, 128);
    height:180px;
    margin-top:30px;

    /*Text*/
    text-align:center;
}
    
.Main .Share-box i{padding-top:10px;font-size:60px;}

.Main .description-box{
    padding-top:30px;
    padding-right:4em;
    padding-left:4em;
}
/* footer 
//////////
/////
///
*/
footer {
    clear: both;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2%;
    height: auto !important;
    width: 100%;
    background-color: rgb(9, 69, 105);
    font-size: 17px;
    color: whitesmoke;
}

img.footer-banner {
    margin-bottom:1px;
    max-height:75px;
}

.container-fluid.footer {
    padding-left: 5%;
}

footer a:hover {text-decoration: none;}

footer a {
    color: white;
}
nav {
    position: sticky !important;
    top: 0;
    z-index:101;
}

/* BootStrap modifyer*/
nav .btn{padding: .35rem 0.75rem;}
.nav-link {
    font-family: 'Adamina' !important;
    color: black !important;
    border-bottom: 6px solid rgba(255,255,255,0);
}
.nav-link:hover {border-bottom:6px solid black;}

.collapse.navbar-collapse{margin-top:6px;}

nav input {border-radius: 500px !important;}

nav button {
    border-radius: 1000px !important;
    background-color: black !important;
}

.navbar-brand {font-family: 'Adamina' !important;}

.bg-my-dark {
    background-color: rgba(255,255,255,.72) !important;
    border-bottom: black solid 3px;
}
.navbar-dark .navbar-text {
    border-radius: 500px;
    padding: 8px 34px;
    background-color: #b30000;
    color: black !important;
    font-family: 'Adamina' !important;
}
.navbar-brand {font-size:1.8rem !important;}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
hr {
    border: .5px solid black !important;
}
.connectez-vous {
    position: fixed;
    bottom: 20px;
    right: 35px;
}
.btn-connectez-vous {
    border-radius: 15px !important;
    background-color: rgb(238, 140, 58);
    color: black;
}
